<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RealTimeVoiceRecognizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RealTimeVoiceRecognizer.Properties.Settings>
            <setting name="TempFolder" serializeAs="String">
                <value>C:\Temp</value>
            </setting>
            <setting name="SelectedCulture" serializeAs="String">
                <value>Russian (Russia)</value>
            </setting>
            <setting name="SupportedCultures" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>en-AU,English (Australia)</string>
                        <string>en-CA,English (Canada)</string>
                        <string>en-GB,English (United Kingdom)</string>
                        <string>en-IN,English (India)</string>
                        <string>en-NZ,English (New Zealand)</string>
                        <string>en-US,English (United States)</string>
                        <string>en-ZA,English (South Africa)</string>
                        <string>af-ZA,Afrikaans (South Africa)</string>
                        <string>ar-AE,Arabic (U.A.E.)</string>
                        <string>ar-BH,Arabic (Bahrain)</string>
                        <string>ar-DZ,Arabic (Algeria)</string>
                        <string>ar-EG,Arabic (Egypt)</string>
                        <string>ar-IQ,Arabic (Iraq)</string>
                        <string>ar-JO,Arabic (Jordan)</string>
                        <string>ar-KW,Arabic (Kuwait)</string>
                        <string>ar-LB,Arabic (Lebanon)</string>
                        <string>ar-LY,Arabic (Libya)</string>
                        <string>ar-MA,Arabic (Morocco)</string>
                        <string>ar-OM,Arabic (Oman)</string>
                        <string>ar-QA,Arabic (Qatar)</string>
                        <string>ar-SA,Arabic (Saudi Arabia)</string>
                        <string>ar-SY,Arabic (Syria)</string>
                        <string>ar-TN,Arabic (Tunisia)</string>
                        <string>ar-YE,Arabic (Yemen)</string>
                        <string>cs-CZ,Czech (Czech Republic)</string>
                        <string>nl-BE,Dutch (Belgium)</string>
                        <string>fr-FR,French (France)</string>
                        <string>de-DE,German (Germany)</string>
                        <string>it-IT,Italian (Italy)</string>
                        <string>id-ID,Indonesian (Indonesia)</string>
                        <string>ja-JP,Japanese (Japan)</string>
                        <string>ko-KR,Korean (Korea)</string>
                        <string>zh-CN,Chinese (Simplified)</string>
                        <string>zh-TW,Chinese (Traditional, Taiwan)</string>
                        <string>ms-MY,Malay (Malaysia)</string>
                        <string>pl-PL,Polish (Poland)</string>
                        <string>pt-BR,Portuguese (Brazil)</string>
                        <string>es-AR,Spanish (Argentina)</string>
                        <string>es-BO,Spanish (Bolivia)</string>
                        <string>es-CL,Spanish (Chile)</string>
                        <string>es-CO,Spanish (Colombia)</string>
                        <string>es-CR,Spanish (Costa Rica)</string>
                        <string>es-DO,Spanish (Dominican Republic)</string>
                        <string>es-EC,Spanish (Ecuador)</string>
                        <string>es-GT,Spanish (Guatemala)</string>
                        <string>es-HN,Spanish (Honduras)</string>
                        <string>es-MX,Spanish (Mexico)</string>
                        <string>es-NI,Spanish (Nicaragua)</string>
                        <string>es-PA,Spanish (Panama)</string>
                        <string>es-PE,Spanish (Peru)</string>
                        <string>es-PR,Spanish (Puerto Rico)</string>
                        <string>es-PY,Spanish (Paraguay)</string>
                        <string>es-SV,Spanish (El Salvador)</string>
                        <string>es-US,Spanish (United States)</string>
                        <string>es-UY,Spanish (Uruguay)</string>
                        <string>es-VE,Spanish (Bolivarian Republic of Venezuela)</string>
                        <string>ru-RU,Russian (Russia)</string>
                        <string>tr-TR,Turkish (Turkey)</string>
                        <string>zu-ZA,isiZulu (South Africa)</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AutomaticallySaveText" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultLogFile" serializeAs="String">
                <value>C:\Temp\default.txt</value>
            </setting>
        </RealTimeVoiceRecognizer.Properties.Settings>
    </userSettings>
</configuration>